* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 10px 0;
    background-color: cyan;
}

body {
    font-family: Arial;
    
}

.logo {
    margin-left: 200px;
    margin-right: 500px;
    margin-top: 15px;
    width: 200px;
}

nav ul {
    list-style: none;
}

nav, nav ul {
    display: flex;
}

nav ul li {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 20px;
}

.profile {
    margin-left: 10%;
    margin-top: 0;
    background: url('images/profile2.jpg')no-repeat center center/cover;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    overflow: hidden;
}

.content {
    margin-left: 10%;
    margin-top: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 600;
}